@import '../../../styles/token.scss';

.chart-section {
  margin-bottom: $spacing-small;
  background: $branco;
  border-radius: $border-radius-large;
  padding: $spacing-small;
  box-shadow: $shadow-elevation-2;

  .section-title {
    @include part-title;
    color: $azul-caixa;
    margin-bottom: $spacing-micro;
    font-size: $heading-small;
  }

  .chart-info {
    margin-bottom: $spacing-small;

    .chart-description {
      @include card-text;
      color: $slate;
      font-size: $text-small;
      margin: 0;
    }
  }

  .chart-container {
    position: relative;
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// Responsive
@media (max-width: 768px) {
  .chart-section {
    padding: $spacing-tiny;

    .chart-container {
      height: 300px;
    }
  }
}

@media (max-width: 576px) {
  .chart-section {
    .chart-container {
      height: 400px;
    }
  }
}
